<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/Styles/Styles.css">
</head>
<body>
    <main>
        <h1><%= header %></h1>
        <% if (result.length === 0) { %>
            <h2>No employees found</h2>
        <%} else { %>
            result.forEach(person => { %>
                <div class="person">
                    <h2>Employee ID: <%= person.id %></h2>
                    <p>Name: <%= person.firstname %> <%= person.lastname %></p>
                    <p>Department: <%= person.department %></p>
                    <p>Salary: <%= person.salary %></p>
                </div>
            <% }) %>
        <% } %>
    </main>
</body>
</html>